<div class="w-50 p-3">
  <h2 class="name-page">Удалите слово и(или) перевод из базы</h2>
  <br>
  <div class="form-group">
    <form action="/remove_the_word" method="POST">
      <label>Введите слово которое вы хотите удалить.</label>
      <div class="form-group">
        <input type="text" name="words_rus" class="form-control" placeholder="Введите слово (rus)" value="<%= @words_rus %>">
      </div>
    </br>
      <button type="submit" class="btn btn-primary">Удалить</button>
    </form>
  </form>
</div>
</div>
